<link rel="stylesheet" href="/stylesheets/navmenu.css">
<script defer src="/javascripts/shoppingcart.js"></script>
<link rel="stylesheet" href="/stylesheets/modal.css">
<link rel="stylesheet" href="/stylesheets/global.css">
<script src="/javascripts/modalWindowCreator.js"></script>
<link rel="icon" type="image/x-icon" href="/asset_images/favicon.ico">
<script defer src="https://js.stripe.com/v3/"></script>
<script defer src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script defer src="/javascripts/stripePayment.js"></script>

<div class="topnav" id="myTopnav">
    <a href="/" class="<%= pagePath==="/"? "active": "" %>">Home Pages</a>
    <a href="/admin" class="<%= pagePath==="/admin"? "active": "" %>">Admin Pages</a>
    <a href="/products" class="<%= pagePath==="/products"? "active": "" %>">Products</a>
    <span style="margin-left:auto; border:0; padding:0;">
            <a href="/auth/signup" class="<%= pagePath==="/auth/signup"? "active": "" %>">Sign Up</a>
    <a href="/auth/signin" class="<%= pagePath==="/auth/signin"? "active": "" %>">Sign In</a>
<span>
    <img style="margin-top:5px; cursor:pointer;" id="shoppingCartImage"
                   src="/asset_images/shopping-basket-icon-18-32.png" alt="shopping cart">
        <span id="itemTypeCounts"
                style="
                width: 40px;
                min-width: 40px;
                max-width: 25px;
                position:relative;
                top:-20px;
                left:-5px;
                border-radius: 40%;
                background-color: RGBA(255,255,255,0.9);
                font-weight: bold;
                font-size: 16px;
                color:blue">
            0
        </span>
    <div
        id="shoppingCart"
        style="border-radius:5px;
        display: none;
        flex-direction: column;
        border:1px solid black;
        position:absolute;
        width: 200px;
        background-color: white;
        box-shadow: 5px 5px #aaaaaa"
    >

    </div>
</span>

    </span>

</div>

